.form__forgottpasswd{
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
}
.form__forgotpass-table{
    margin: 0 auto;
}
.forgottpasswd_button{
    border: 1px solid #d9e1e2;
    padding: 5px 36px;
    border-radius: 4px;
    margin: 15px 0 5px 0;
}
.form__forgotpass-table td{
    padding: 0 5px 0 0;
}